{% extends 'admin.html.twig' %}

{% block title %}Ajouter un vin{% endblock %}

{% block body %}
    <h1 class="title mt-5">Ajouter un vin</h1>

    {{ include('wine/_form.html.twig') }}

    <a href="{{ path('wine_index') }}">Retour à la liste</a>
{% endblock %}
