{% extends 'admin.html.twig' %}

{% block title %}Ajouter un vin{% endblock %}

{% block body %}
    <h1 class="title mt-5">Ajouter un vin</h1>

    {{ include('wine/_form.html.twig') }}

    <a class="w3-button w3-blue w3-round-large w3-margin" href="{{ path('wine_index') }}">Retour à la liste</a>
{% endblock %}
