{% extends "base.html.twig" %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/success.css') }}">
<div>
    <h1 class="title-success">Votre commande à bien était valider</h1>
    <h2 class="title-success">Vous allez recevoir votre commande dans les plus bref délais</h2>
</div>
{% endblock %}