{% extends 'base.html.twig' %}

{% block title %}connexion au site{% endblock %}

{% block body %}
<div class="container">
    {% if hasError %}
        <div class="alert alert-danger" style="margin-top: 18rem;">Email ou mot de passe est invalide</div>
    {% endif %} 
    <form action="{{ path('account_login') }}" method="POST" style="margin-top: 18rem;">
        <div class="form-group mt-5">
            <label for="email">Email</label>
            <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion</button> 
        </div>
    </form>
</div> 
{% endblock %}
