{% extends "base.html.twig" %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/profil.css') }}">
<div class="container cont-profil">
    <h1 class="title-profil">Modification du profil</h1>
    <div class="form-profil">
        {{ form_start(form) }}
        <div class="form-widget">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Sauvegarder les Modification</button>
        <div>
    </div>
    {{ form_end(form) }}
</div>


{% endblock %}