<!-- About the Restaurant Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-item">
                    <div class="about-inner-box">
                        <!-- Title Area -->
                        <img
                                src="{{ asset('img/icons/floral-divider-dark.png') }}"
                                width="110"
                                height="30"
                                class="img-responsive center-block"
                                alt="divider"
                        />
                        <h2>A propos du restaurant</h2>
                        <!-- /.Title Area -->
                        <p class="lead-md mrgn-30-btm">
                            "Comme à la maison" est un restaurant de carractère, crée par Fabien LAGELLE.
                            Conçu au départ comme une cave à vin expeptionnelle, ce lieu est devenu une
                            adresse culinaire incomtournable de Tours.
                        </p>
                        <p class="lead-md mrgn-30-btm">
                            Restaurant proposant des classiques et des revisites de la grande gastronomie française,
                            l'équipe met tout son coeur afin de vous créer une expérience gustative et visuelle originale
                            et intense.
                        </p>
                        <p class="lead-md mrgn-30-btm">
                            Notre chef cuisinier sublime ses produits frais de saison et exerce sa magie avec plaisir et passion.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.About the Restaurant Section -->