<section id="reservation-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Adresse</h3>
                <p class="lead-sm">
                    21 rue Constantine <br />
                    37 000<br />
                    Tours, FR
                </p>
            </div>
            <div class="col-sm-4 hidden-xs">
                <h3>Horaires</h3>
                <p class="lead-sm">
                    Mardi - Jeudi: 11.00 - 23.00<br />
                    Vendredi - Samedi: 11.00 - 2.00<br />
                    Dimanche: 12.00 - 22.00
                </p>
            </div>
            <div class="col-sm-4 hidden-xs">
                <h3>Restons en contact</h3>
                <p class="lead-sm">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i><br />
                    +33 2 45 47 78 01<br />
                    comme@alamaison.com
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>