<section id="menu">
    <div class="container">
        <!-- Title Area -->
        <div class="row text-center">
            <div class="col-md-10 col-md-offset-1">
                <img
                        src="{{ asset('img/icons/floral-divider-dark.png') }}"
                        width="110"
                        height="30"
                        class="img-responsive center-block"
                        alt="divider"
                />
                <h2>Notre menu</h2>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.Title Area -->

        <!-- Menu Area with Filter and Gallery -->
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <div id="menu-filter" class="clearfix">
                    <ul
                            id="menu-filter-list"
                            class="option-set clearfix"
                            data-option-key="filter"
                    >
                        <li>
                            <a href="#filter" data-option-value="*" class="selected">show all</a>
                        </li>
                        <li>
                            <a href="#filter" data-option-value=".starter-dishes">Starters</a>
                        </li>
                        <li>
                            <a href="#filter" data-option-value=".salad-dishes">Salads</a>
                        </li>
                        <li>
                            <a href="#filter" data-option-value=".main-dishes">Main Courses</a>
                        </li>
                        <li>
                            <a href="#filter" data-option-value=".dessert-dishes">Desserts</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- #options -->
            <div class="col-sm-9 col-md-10">
                <div
                        id="menu-wrapper"
                        class="clearfix"
                >
                    <!-- Starters --->
                    <div
                            class="single-item starter-dishes"
                    >
                        <div class="menu-list">
                            <!-- Starter Menu Item 01 -->
                            <div class="menu-box">
                                <div class="menu-list-item">
                                    <h5>Soup of the day</h5>
                                    <p class="price">$4.50</p>
                                    <span class="dashed-line"></span>
                                </div>
                                <p class="dish-description">
                                    Integer vel cursus nulla. Etiam non augue convallis,
                                    bibendum justo vel, ultricies ligula.
                                </p>
                            </div>
                            <!-- /.Starter Menu Item 01 -->

                            <!-- Starter Menu Item 02 -->
                            <div class="menu-box">
                                <div class="menu-list-item">
                                    <h5>French Onion Soup</h5>
                                    <p class="price">$4.50</p>
                                    <span class="dashed-line"></span>
                                </div>
                                <p class="dish-description">
                                    Integer vel cursus nulla. Etiam non augue convallis,
                                    bibendum justo vel, ultricies ligula.
                                </p>
                            </div>
                            <!-- /.Starter Menu Item 02 -->

                            <!-- Starter Menu Item 03 -->
                            <div class="menu-box">
                                <div class="menu-list-item">
                                    <h5>Mediterranean Fish Soup</h5>
                                    <p class="price">$4.50</p>
                                    <span class="dashed-line"></span>
                                </div>
                                <p class="dish-description">
                                    Integer vel cursus nulla. Etiam non augue convallis,
                                    bibendum justo vel, ultricies ligula.
                                    <span class="label label-special">En promotion</span>
                                </p>
                            </div>
                            <!-- /.Starter Menu Item 03 -->

                            <!-- Starter Menu Item 04 -->
                            <div class="menu-box">
                                <div class="menu-list-item">
                                    <h5>Baked Brie in Filo</h5>
                                    <p class="price">$4.50</p>
                                    <span class="dashed-line"></span>
                                </div>
                                <p class="dish-description">
                                    Integer vel cursus nulla. Etiam non augue convallis,
                                    bibendum justo vel, ultricies ligula.
                                </p>
                            </div>
                            <!-- /.Starter Menu Item 04 -->
                        </div>
                    </div>
                    <!-- /.Starters --->

                </div>
            </div>
        </div>
        <!-- Menu Area with Filter and Gallery -->
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>