<form method="post" action="{{ path('bar_delete', {'id': bar.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bar.id) }}">
    <button class="w3-button w3-red w3-half">Supprimer</button>
</form>