{{ form_start(form) }}
    {{ form_widget(form) }}
    <section class="w3-container w3-center">
        <button class="w3-button w3-deep-purple w3-margin">{{ button_label|default('Enregistrer') }}</button>
    </section>
{{ form_end(form) }}
