{% extends "base.html.twig" %}

{% block title %}
    Comme à la maison
{% endblock %}

{% block body %}
    <h1>Bienvenue au restaurant Comme à la maison</h1>
    <p>Bientot vous trouverais tous nos menus....</p>
{% endblock %}