{% extends "base.html.twig" %}

{% block title %}
    Comme à la maison
{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
    <h1>Bienvenue au restaurant Comme à la maison</h1>
    <p>Bientot vous trouverais tous nos menus....</p>
    <img src="https://media.giphy.com/media/l2JdTuayDxVZeGJDG/giphy.gif" alt="gif">
{% endblock %}