<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Comme à la maison</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/plats">Comme à la maison</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/plats">Plats</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wine">Vins</a>
        </li>
        
        <li class="nav-item ">
          <a class="nav-link" href="#">Réservation</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Livraison</a>
        </li>
      
      {% if app.user %}
      <li class="nav-item">
        <a href="{{ path('account_logout') }}" class="nav-link">Déconnexion</a>
      </li>
      {% else %}
        <li class="nav-item">
        <a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
      </li>
      <li class="nav-item">
        <a href="{{ path('account_login') }}" class="nav-link">connexion</a>
      </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>