{% extends 'admin.html.twig' %}

{% block title %}Edit Menu
{% endblock %}

{% block body %}
	<h1 class="text-center">Modifier le menu</h1>
	{{ include('menu/_form.html.twig', {'button_label': 'Update'}) }}
	<section class="w3-container w3-center">
		<a class="w3-button w3-border w3-hover-light-gray w3-xlarge w3-margin-bottom" href="{{ path('menu_index') }}">Retour à la liste</a>
	</section>


{% endblock %}

{% block stylesheets %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	<script>
		$('select').select2();
	</script>
{% endblock %}
