{% extends 'base.html.twig' %}

{% block title %}Menus{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

    {% for menu in menus %}
        <div>
            <h2>{{ menu.name }} </h2>
            <p> {{ menu.description }} </p>     
        </div>
    {% else %}
        Pas de menu.
    {% endfor %}
    

    
        
    
    </div>
</div>
{% endblock %}
